<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
     <objectContribution
            adaptable="false"
            id="org.kermeta.sintaks.ui.objectContribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
               label="Kermeta"
               path="additions">
            <separator name="sintaksgroup1"/>
         </menu>
         <action
               class="org.kermeta.sintaks.ui.Model2TextAction"
               enablesFor="1"
               icon="icons/Sintaks.gif"
               id="org.kermeta.sintaks.ui.textloader.Text2Model"
               label="Model to Text"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/sintaksgroup1"/>
      </objectContribution>
      <objectContribution
            id="org.kermeta.sintaks.ui.objectContribution2"
            nameFilter="*.txt"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
               label="Kermeta"
               path="additions">
            <separator name="sintaksgroup1"/>
         </menu>
         <action
               class="org.kermeta.sintaks.ui.Text2ModelAction"
               enablesFor="1"
               icon="icons/Sintaks.gif"
               id="org.kermeta.sintaks.ui.textloader.Text2Model"
               label="Text to Model"
               menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/sintaksgroup1"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.kermeta.sintaks.ui.samples.category"
            name="Sintaks samples"
            parentCategory="org.eclipse.ui.Examples"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.kermeta.sintaks.ui.samples.category"
            class="org.kermeta.sintaks.ui.SintaksExampleWizard"
            finalPerspective="kermetaPerspective"
            hasPages="false"
            icon="icons/Sintaks.gif"
            id="org.kermeta.sintaks.ui.samples.wizard"
            name="Sintaks samples"
            preferredPerspectives="org.eclipse.ui.resourcePerspective"/>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.kermeta.sintaks.ui.Preferences"
            id="org.kermeta.sintaks.ui.preferences"
            name="Sintaks preference pages"/>
   </extension>
</plugin>
