<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2007-06-14 08:57:30 dtouzet Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.kermeta.org/Sts" 
       class = "org.kermeta.sintaks.sts.StsPackage"
       genModel = "" /> 
  </extension>

</plugin>

